
@use '_variaveis' as *;

.footer{
    text-align: center;
    display: block;
    background-color: $corPrinc;
    color: aliceblue;
    padding: 1px;

    @media (max-width:794px) {
        font-size: 10px;
     }
     
    

    a{
        transition: 1s ease;

        &:hover{
            color: lightpink;
            font-weight: bold;
            
        }
    }
}