@use '_variaveis' as *;

.header{

    background-image: url(/src/imagens/back.png);
    background-repeat: no-repeat;
    background-size:cover ;


    &__container{
        
        height: 500px;
        
      
            h1{
                
                padding:100px 50px;
                @media (max-width:794px) {
                    img{
                        padding-top: 160px;
                        width: 300%;
                    }
       
                
                }

                @media (max-width:1024px) {
                    width: 50%;
       
                }
                
            }
        
        
        
    }
}