@use 'header';
@use 'variaveis' as *;
@use 'sinopse';
@use 'footer';
@use "click";
@use 'history';
@use 'elenco';
@use 'articleElenco';
@use 'curiosidades';






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Noto Sans", sans-serif;
    
    
}

body{
    background-color: #57AAD6;
    background-image: url(/src/imagens/back.webp);
    background-repeat: no-repeat;
    background-size: contain;
    
}

.main {

    
    background-color: $corDoTextoPric;
    display: none;
    transition: opacity  0.10s ease; 

    &--is-visible{
        display: block;
        opacity: 1;
    }
}

/* @mixin text ($fontsize:100px){

    font-size: $fontsize;
    color: $corPrinc;

} */



.title{

    /* @include text; */
    text-align: center;
    img{
        width: 30%; 

        @media (max-width:764px) {
            width: 90%;

        }
    }   
}


.nav{

    background-color: $corPrinc;
    padding: 8px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  
}

.icone{
    
    display: flex;
    justify-content: end;
    position: sticky;
    bottom: 0;
    @media (max-width:764px) {
       width:300px;
       position: sticky;
       bottom: 0;
       z-index: 1;
    }
    
        
        img{
            width: 50px;
            cursor: pointer;

        }
    
}